---
layout: page
title: Email Signature Generator
permalink: /
---
<h2>Email client instructions:</h2>

<details>
  <summary>
    <strong>Adding the signature to Gmail:</strong>
    <div class="summary-chevron-up">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
  </summary>
  <section class="summary-content">
    <ol>
      <li>In Gmail, click the ⚙️ gear icon (left of profile picture)</li>
      <li>Click "Copy to Clipboard" button</li>
      <li>Click "See all settings" from menu</li>
      <li>Scroll down to "Signature:" section</li>
      <li>Click in the text editor box for your signature</li>
      <li>Paste with Ctrl+V (or Cmd+V on Mac), or right-click -> "Paste"</li>
      <li>Scroll to the bottom of the page and click "Save"</li>
      <li>Click "Compose" to verify your new signature works.</li>
    </ol>
    <p>Below is a quick GIF that illustrates the steps above.<br>
      <a href="/assets/images/how-to-add-signature-to-gmail.gif"><img src="/assets/images/how-to-add-signature-to-gmail.gif" alt="Gmail signature instructions" width="800"></a>
    </p>
  </section>
  <div class="summary-chevron-down">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
      <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
  </div>
</details>

<details>
  <summary>
    <strong>Adding the signature to Outlook:</strong>
    <div class="summary-chevron-up">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
  </summary>
  <section class="summary-content">
    <p>This post, <a href="https://www.hellotech.com/guide/for/how-to-add-signature-in-outlook">🔗 How to Add an Email Signature to Outlook</a>, by HelloTech will show you all the options for adding your email signature to Outlook.</p>

    <p>If you'd rather watch a video: <a href="https://www.youtube.com/watch?v=Jl6-06VLYU8">🔗 How to Add an Email Signature to Outlook</a>
    </p>
  </section>
  <div class="summary-chevron-down">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
      <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
  </div>
</details>
