<footer>
  <sub class="copyright">
    {% copyright %}
    {{ site.title }}<br>
    <small>Built with 🚀 Flightdeck&nbsp;&nbsp;<a
      href="{% repo %}"
      title="{{ site.title }} version">{% version %}</a>
    </small>
  </sub>
</footer>
